<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Insert title here</title>
<!-- CSS only -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/draft.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/script/draft.js"></script>
</head>
<body>


   <div class="container">
   
   
   <!-- Default form register -->
<form class="text-center border border-light p-5"  action="#" th:action="@{/addsquaddraft}" th:object="${p}" method="post">

    <p class="h4 mb-4">DRAFT GAMEWEEK SQUAD</p>

<div class="row m-1 col-sm-12 col-md-3 ">
         <label class="mr-1">SELECT FANTASY PLAYER</label>
         <select class="form-control mr-1" th:name="players" id="players">
          <option value = "" >Select Player</option>
          <option  th:each="players : ${listplayers}" th:value="${players.idfpl}" th:text="${players.apodo}"></option>
         </select>
         </div>
<div class="row m-1 col-sm-12 col-md-3 ">
         <label class="mr-1">SELECT GAMEWEEK</label>
         <select class="form-control mr-1" th:name="gameweek" id="gameweek">
          <option value = "" >Select Player</option>
          <option  th:each="gameweek : ${gameweek}" th:value="${gameweek}" th:text="${gameweek}"></option>
         </select>
         </div>
    <div class="form-row d-flex" >
         
         <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams1" >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player1" id="player1" class="form-control mr-1" th:value="*{player1}">
          <option value="0">--</option>
          </select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams2"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player2" id="player2" class="form-control mr-1" th:value="*{player2}">
          <option value="0">--</option>
          </select>
         </div>
         
         <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams3"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player3" id="player3" class="form-control mr-1" th:value="*{player3}">
          <option value="0">--</option>
          </select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams4"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player4" id="player4" class="form-control mr-1" th:value="*{player4}">
          <option value="0">--</option>
          </select>
         </div>
          
          
          <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams5"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player5" id="player5" class="form-control mr-1" th:value="*{player5}">
          <option value="0">--</option>
          </select>
         </div>
          
          <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams6"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player6" id="player6" class="form-control mr-1" th:value="*{player6}">
          <option value="0">--</option>
          </select>
         </div>
         
         <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams7"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player7" id="player7" class="form-control mr-1" th:value="*{player7}">
          <option value="0">--</option>
          </select>
         </div>
         
         <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams8"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player8" id="player8" class="form-control mr-1" th:value="*{player8}">
          <option value="0">--</option>
          </select>
         </div>
         
         <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams9" >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player9" id="player9" class="form-control mr-1" th:value="*{player9}">
          <option value="0">--</option>
          </select>
         </div>
         
         
          <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams10" >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player10" id="player10" class="form-control mr-1" th:value="*{player10}">
          <option value="0">--</option>
          </select>
         </div>
          
          <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams11"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player11" id="player11" class="form-control mr-1" th:value="*{player11}">
          <option value="0">--</option>
          </select>
         </div>
         
         <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams12"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player12" id="player12" class="form-control mr-1" th:value="*{player12}">
          <option value="0">--</option>
          </select>
         </div>
         
         <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams13"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player13" id="player13" class="form-control mr-1" th:value="*{player13}">
          <option value="0">--</option>
          </select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams14"  >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player14" id="player14" class="form-control mr-1" th:value="*{player14}">
          <option value="0">--</option>
          </select>
         </div>
          
        <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams15" >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player15" id="player15" class="form-control mr-1" th:value="*{player15}">
          <option value="0">--</option>
          </select>
         </div>
        
    </div>


    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block  w-25" type="submit">Send Squad</button>

  
</form>
   
   
   </div>

	
<!-- Default form register -->
	




	




    
	<!-- JS, Popper.js, and jQuery -->
	
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
		
		
		
		
</body>
</html>