<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Insert title here</title>
<!-- CSS only -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/draft.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>


   <div class="container">
   
   
   <!-- Default form register -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">DRAFT GAMEWEEK SQUAD</p>

<div class="row m-1 col-sm-12 col-md-3 ">
         <label class="mr-1">SELECT FANTASY PLAYER</label>
         <select class="form-control mr-1">
         </select>
         </div>

    <div class="form-row   d-flex">
         
         <div class="row m-2 col-sm-12 col-md-3 ">
         <label class="mr-1">PLAYER 1</label>
         <select class="form-control mr-1" id="teams" th:field="*{teams}" >
         <option value = "" >Select Team</option>
<option  th:each="teams : ${teams}" th:value="${teams.value}" th:text="${teams.key}"></option>
         </select>
          <select name="player1" id="player1" class="form-control mr-1" th:field="*{player1}">
          <option value="0">--</option>
          </select>
         </div>
         
          
         <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 2</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
        
         <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 3</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 4</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 5</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 6</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 7</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 8</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 9</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 10</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 11</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 12</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 13</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 14</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
         
         
          <div class="row m-2 col-sm-12 col-md-3">
         <label class="mr-1">PLAYER 15</label>
         <select class="form-control mr-1"></select>
          <select class="form-control mr-1"></select>
         </div>
    </div>


    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block  w-25" type="submit">Sign in</button>

  
</form>
   
   
   </div>

	
<!-- Default form register -->
	




	




    
	<!-- JS, Popper.js, and jQuery -->
	
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
		
		
		
		<script type="text/javascript">
		
		
		function sendAjaxRequest() {
		    var teams = $("#teams").val();
		    jQuery.get( "/players?teams=" + teams, function( data ) {
		        jQuery("#player1").empty();
		        data.forEach(function(item, i) {
		            var option = "<option value = " + item + ">" + item +  "</option>";
		            jQuery("#player1").append(option);
		        });
		    });
		};
		
		
		jQuery(document).ready(function() {
			jQuery("#teams").change(function() {
		        sendAjaxRequest();
		    });
		});
		
		
	
		
		</script>
		
</body>
</html>